* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header,
main,
footer {
    width: 80%;
    margin-left: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: bisque;
}

header > h1 {
  text-align: center;
  margin-bottom: 20px;
}

article {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin: 10px;
    padding: 20px;
}

article > h1 {
  padding: 20px; 
  font-weight: bold;
}

article p {
    padding: 20px;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 100;
    font-size: 25px;
    color:beige;

}

section.s1 {
    width: 500px;
    border: 5px solid;
    padding: 5px;
    margin: 5px;
}

section.s2 {
    display: inline;
    width: 500px;
    border: 5px solid;
    padding: 25px;
    margin: 5px;
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    border: 5px solid red;
}


a {
    display: inline-block;
    width: 100px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: blue;/
}


a:hover {
    background-color: brown;
}


span {
    font-weight: bold;
    display: inline-block;
}

@media (max-width : 767px) {

    header,
    main,
    footer {
        width: 100%;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: aliceblue;
    }
    footer {
        background-color: black;
        color: white;
    }
}